markup/src/pug/sections/faq.pug
section.faq 
    .container 
        .faq__list 
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 1. Linzalarga ko'nikish uchun qancha vaqt ketadi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item.active
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 2. Kontakt linzalarni musluk suvida saqlashimiz mumkinmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content(style="display: block")
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 3. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 4. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 5. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.
             .faq__item.js-accordion-item
                .faq__item-title.js-accordion-trigger
                    h3.heading.heading--md 6. Rangli kontakt linzalari sharsimon quvvatda mavjudmi?
                    a(href="#")
                        +icon("sprite_breadcrumbs-arrow")
                .faq__item-content.js-accordion-content
                    p Hech qachon kontaktlaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv hali ham bakteriya va boshqa mikroorganizmlarni o'z ichiga olishi mumkin, ular jiddiy ko'z infektsiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfektsiya qilmaydi.

djangoBeneLens/templates/pages/faq.html
{% extends 'pages/base.html' %}

{% load static %}

{% block title %} Neo Cosmo  {% endblock title %}

{% block content %}
 {% load i18n %}


<div class="wrapper__content pg--faq">
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %} Asosiy sahifa {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>FAQ</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %} Tez-tez so‘raladigan SAVOLLAR{% endblocktrans %}</h2>
                <p>{% blocktrans %} Mutaxassislarimizdan kontakt linzalari bilan bog'liq eng keng tarqalgan savollarga javoblar{% endblocktrans %}</p>
              </div>
            </div>
          </section>
          <section class="faq">
            <div class="container">
              <div class="faq__list">
                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 1. Har kuni kontakt linzalarini taqish yomonmi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Siz har kuni kontakt linzalarini taqishingiz mumkin. Biroq, kundalik kontakt linzalaringizni belgilangan muddatdan ortiq taqish tavsiya etilmaydi, chunki bu ko‘zingizga zarar yetkazishi mumkin. Shuning uchun sizda qayta foydalanish mumkin bo‘lgan kontakt linzalaringizdan foydalanishga imkon beruvchi kontakt linzalari jadvali bo‘lishi kerak. Kontakt linzalaringizni kiyish usulini aniqlash uchun siz optometristingiz bilan maslahatlashishingiz mumkin.{% endblocktrans %}</p>
                  </div>
                </div>
                <div class="faq__item js-accordion-item active">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 2. Kuniga necha soat linzalar taqiladi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content" style="display: block">
                    <p>{% blocktrans %} Qonunda belgilangan vaqt bo‘lmasa-da, odatda, kuniga 8 soatdan ko‘p bo‘lmagan yumshoq kontaktli linzalarni taqish tavsiya etiladi. Ushbu tavsiya etilgan taqish vaqtlari iste’molchining ko‘z salomatligi uchun va har qanday nojo‘ya ta’sirlarning oldini olishga mo‘ljallangan.{% endblocktrans %}</p>
                  </div>
                </div>
                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 3. Linzalarga ko‘nikish uchun qancha vaqt ketadi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Yumshoq kontaktli linzaga ko‘nikish uchun sizga juda kam vaqt kerak bo‘ladi. Ba’zida odamga qarab bir necha daqiqa yoki bir necha kun.{% endblocktrans %}</p>
                  </div>
                </div>
                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 4. Kontakt linzalarining yaroqlilik muddati qanday?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Kontakt linzalarining yaroqlilik muddati mahsulotga qarab farq qiladi. Neo vision mahsulotlariga kelsak, ular qadoqlash qutisining tashqi tomonida va yorliqda ko‘rsatilgan, shuning uchun ishlatishdan oldin tekshiring.{% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 5. Kontakt linzalarda yig‘laganingizda nima bo‘ladi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Ko‘zlaringizga tegmaslik sharti bilan ko‘zning kontakt linzalarida yig‘lash mutlaqo xavfsizdir. Ko‘zlaringizni doimiy ravishda ishqalash yoki artib turish kontakt linzalaringizni burishishi yoki ularni shox pardadan chiqarib yuborishi va yuqori ko‘z qovog‘i ostiga yopishib qolishiga olib kelishi mumkin.{% endblocktrans %}</p>
                  </div>
                </div>

                  <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 6. Qaysi oylik yoki kunlik bir martalik kontakt linzalari yaxshiroq?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %}Oylik yoki kunlik kontakt linzalari o‘rtasida tanlov butunlay shaxsiy intizomga va kontakt linzalari bilan bog‘liq parvarish va parvarishlash imkoniyatiga bog‘liq. Kundalik kontakt linzalari parvarish qilishni talab qilmaydi, chunki har foydalanishdan keyin ularni tashlab yuborishingiz mumkin. Oylik bir martalik kontakt linzalari bo‘lsa, har foydalanishdan oldin va keyin belgilangan parvarishlash rejimiga rioya qilish kerak. Narx, qulaylik, foydalanish qulayligi va texnik xizmat ko‘rsatish kabi boshqa omillar yaxshiroq qaror qabul qilishingizga yordam beradi. {% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 7. Kontaktli linzalardan foydalanishning minimal yoshi qancha?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %}Tadqiqotlar shuni ko‘rsatdiki, ko‘rishni tuzatishga muhtoj bo‘lgan 8 yoshdan katta bo‘lgan bolalar kontakt linzalarini taqish va parvarish qilish qobiliyatiga ega. Kontakt linzalarnilarni taqish yoshdan ko‘ra ko‘proq mas’uliyat bilan bog‘liq. {% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 8. Kontakt linzalarni  distillangan suvida saqlay olamizmi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %}Hech qachon kontakt linzalaringizni suvda saqlamasligingiz kerak. Tozalanganligiga qaramay, musluk suvi/distillangan suv bakteriya va boshqa mikroorganizmlarni o‘z ichiga olishi mumkin, ular jiddiy ko‘z infeksiyalariga olib kelishi mumkin. Suv kontakt linzalaringizni dezinfeksiya qilmaydi. Agar kontaktlaringizni suvda saqlasangiz, bir necha daqiqalar yoki soatlar ichida bakteriyalar, zamburug‘lar va boshqa zararli patogenlar linzalaringizda o‘sishi va keyin ko‘zlaringizga o‘tishi mumkin. Bu ko‘rish uchun xavfli ko‘z muammolariga olib kelishi mumkin. {% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 9. Kontakt linza qutisidagi eritmani qanchalik tez-tez o‘zgartirish kerak?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Kontakt linza eritmasini hech qachon qayta ishlatmasligingiz kerak . Siz uni tashlab yuborishingiz kerak, korpusingizni yangi eritma bilan yuvib tashlang va har kuni havoda quriting{% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 10. Qaysi biri yaxshiroq kontakt linzalari yoki ko‘zoynaklar?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Siz tuzatuvchi ko‘zoynak yoki kontakt linzalarini kiyishni tanladingizmi, bu sizning shaxsiy xohishingizga bog‘liq. Turmush tarzi, qulaylik, qulaylik darajasi va byudjet bu qarorni qabul qilishda muhim rol o‘ynaydi. Kontakt linzalari ham, ko‘zoynaklar ham o‘zlarining afzalliklariga ega. Ko‘z bilan kontakt linzalari va ko‘zoynaklar o‘rtasida ko‘rish qobiliyati, foydalanish qulayligi va ko‘zning xavfsizligi nuqtai nazaridan tanlashda kontakt linzalari yaxshiroq.{% endblocktrans %}</p>
                  </div>
                </div>

                <div class="faq__item js-accordion-item">
                  <div class="faq__item-title js-accordion-trigger">
                    <h3 class="heading heading--md">{% blocktrans %} 11. Kontakt linzalar bilan uxlash mumkinmi?{% endblocktrans %}</h3><a href="#">
                      <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                        <use href="#sprite_breadcrumbs-arrow"></use>
                      </svg></a>
                  </div>
                  <div class="faq__item-content js-accordion-content">
                    <p>{% blocktrans %} Shox pardaning (ko‘zning shaffof old yuzasi) salomatligi juda muhimdir. Zamonaviy yumshoq kontaktli linzalar ko‘zga yetarli miqdorda kislorod o‘tishiga imkon beradi, lekin siz uxlayotganingizda ko‘zlaringiz yumiladi va shuning uchun ularga kislorod yetkazib berish kamayadi. Bu muammolarga olib kelishi mumkin. Shunday qilib, kontakt linzalarida uxlash shox pardaning yarasi kabi asoratlar xavfini oshirishi mumkin, bu juda og‘ir bo‘lishi mumkin.{% endblocktrans %}</p>
                  </div>
                </div>


              </div>
            </div>
          </section>


{% endblock content %}
