djangoBeneLens/templates/pages/why.html
{% extends 'pages/base.html' %}
 {% load i18n %}

{% load static %}

{% block title %} Neo Cosmo  {% endblock title %}

{% block content %}


<div class="wrapper__content pg--why">
          <section class="lead lead--why">
          </section>
          <section class="breadcrumbs">
            <div class="container">
              <ul>
                <li> <a href="{% url 'homepage' %}">{% blocktrans %} Asosiy sahifa {% endblocktrans %}</a></li>
                <li>
                  <svg class="svgSymb svgSymb-sprite_breadcrumbs-arrow">
                    <use href="#sprite_breadcrumbs-arrow"></use>
                  </svg>
                </li>
                <li>{% blocktrans %} Nima uchun neo cosmo {% endblocktrans %}</li>
              </ul>
            </div>
          </section>
          <section class="page-title">
            <div class="container">
              <div class="page-title__description">
                <h2 class="heading">{% blocktrans %} Nima uchun neo cosmo? {% endblocktrans %}</h2>
                <p>{% blocktrans %}Mijozlarning ko‘z sog‘lig‘ini va chiroyini birinchi o‘ringa qo‘yadigan NEO VISION kontakt linzalari kompaniyasi o‘zining eng keng va eng yaxshi mahsulotlar assortimentini taklif etadi. Hozirda bizda FDA, Idoralar, CFDA va Sog‘liqni saqlash, Mehnat va farovonlik vazirligi kabi barcha xalqaro sertifikatlar mavjud. NEO VISION o‘z mahsulotlarini dunyoning 60 dan ortiq mamlakatlariga, jumladan, AQSh, Yevropa, Yaponiya, Xitoy, Janubi-Sharqiy Osiyo va Yaqin Sharqqa eksport qilmoqda. Biz sendvich usuli uchun patentga egamiz va ko‘zlar uchun xavfsiz rangli kontakt linzalarni ishlab chiqaramiz. NEO VISION kontakt linzalar kompaniyasining keng assortimenti har bir mijozning ehtiyojini qondiradi. Mahsulotlarimiz mijozlarimizga chiroyli  va yaxshi ko‘rishni ta’minlash uchun mo‘ljallangan.{% endblocktrans %}</p>
                <h2 class="heading">{% blocktrans %} Biz kimmiz?{% endblocktrans %}</h2>
                <p>{% blocktrans %} NEO VISION CO., LTD ni O‘zbekistondagi rasmiy distribyutorimiz. Biz ulgurji xaridorlar uchun juda jozibali narxlarda mahsulotlarni taklif qilamiz, bu esa NeoCosmo linzalarini butun O‘zbekiston bo‘ylab ko‘proq chakana xaridorlarga taqdim etadi! Hamkorlikning qulay shartlari. “BENELENS” LLC sizga qulay hamkorlik shartlarini, buyurtmalarni tez terib olish va siz uchun qulay usulda jo‘natishni taklif qilishdan mamnunmiz.  O‘zbekistondagi  barcha chakana optika do‘konlari  rasmiy distribyutor tomonidan tavsiya etilgan NeoCosmo kontakt linzalari uchun yagona narx taklifiga ega. Odamlarga yaxshiroq yashashga yordam berish, ishonch, o‘zaro hurmat va axloqiy  xulq-atvor  NEO VISON sog‘liqni saqlash sohasidagi professional hamkorlarimiz, mijozlarimiz va hodimlarimiz bilan munosabatlarimiz muhim ahamiyatga ega. Bunday munosabatlarda biz biznesimizni eng yuqori axloqiy me’yorlar asosida olib borishimiz kerak - har doim xatti-harakatlarimiz kompaniya siyosati, qonunlari va qoidalariga  va ruhiga mos kelishini va biznesni to‘g‘ri baholashni ta’minlashimiz kerak.{% endblocktrans %}</p>
              </div>
              <div class="page-title__bg1"></div>
              <div class="page-title__bg2"></div>
              <div class="page-title__bg3"></div>
            </div>
          </section>
          <section class="why-feature">
            <div class="container">
              <div class="why-feature__inner">
                <div class="why-feature__list">
                  <div class="why-feature__item">
                    <div class="why-feature__img">
                      <svg class="svgSymb svgSymb-sprite_box">
                        <use href="#sprite_box"></use>
                      </svg>
                    </div>
                    <div class="why-feature__title">
                      <h3 class="heading">{% blocktrans %} Tanlash uchun ranglarni keng assortimenti mavjud {% endblocktrans %}</h3>
                    </div>
                    <div class="why-feature__description">
                      <p>{% blocktrans %} Neo Vision sizga 70 dan ortiq turli xil kontakt linzalari ranglarini taklif etadi! Shuningdek, biz bozorda o‘xshashi bo‘lmagan mahsulotlarni taklif qilishdan mamnunmiz. {% endblocktrans %}</p>
                    </div>
                  </div>
                  <div class="why-feature__item">
                    <div class="why-feature__img">
                      <svg class="svgSymb svgSymb-sprite_world">
                        <use href="#sprite_world"></use>
                      </svg>
                    </div>
                    <div class="why-feature__title">
                      <h3 class="heading">{% blocktrans %} 65 dan ortiq mamlakatlar ishonchi {% endblocktrans %}</h3>
                    </div>
                    <div class="why-feature__description">
                      <p>{% blocktrans %} Mijozlarning ko‘z sog‘lig‘ini birinchi o‘ringa qo‘yadigan kontakt linzalari kompaniyasi sifatida biz oldinga siljish uchun qo‘limizdan kelganini qilamiz. Shuning uchun ular faqat eng yaxshisini olishadi {% endblocktrans %}</p>
                    </div>
                  </div>
                  <div class="why-feature__item">
                    <div class="why-feature__img">
                      <svg class="svgSymb svgSymb-sprite_people">
                        <use href="#sprite_people"></use>
                      </svg>
                    </div>
                    <div class="why-feature__title">
                      <h3 class="heading">{% blocktrans %} Butun O‘zbekiston bo‘yicha optika hamkorlarimiz {% endblocktrans %}</h3>
                    </div>
                    <div class="why-feature__description">
                      <p>{% blocktrans %} Bizning hamkorlarimiz mijozlarimizga chiroyli  va yaxshi ko‘rishni ta’minlash uchun  har kuni ishga chiqishadi . Hamkorlarimizga chin ko‘ngildan minnatdorchilik bildiramiz {% endblocktrans %}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="certificates" id="certificates">
            <div class="container">
              <div class="certificates__inner">
                <div class="certificates__title">
                  <h2 class="heading">{% blocktrans %} Sertifikatlar {% endblocktrans %}</h2>
                </div>
                <div class="certificates__subtitle">
                  <p>{% blocktrans %} O’zbekistonda ro’yhatga olish sertifikatlari {% endblocktrans %}</p>
                </div>
                <div class="certificates__uz">
                  <picture>
                    <source class="minimized" srcset="{% static './images/certificate/1.webp' %}, {% static './images/certificate/1@2x.webp' %} 1.5x" width="340" height="422" loading="lazy"><img class="minimized" src="{% static './images/certificate/1.png' %}" srcset="{% static './images/certificate/1@2x.png' %} 1.5x" width="340" height="422" loading="lazy" alt="">
                  </picture>
                  <picture>
                    <source class="minimized" srcset="{% static './images/certificate/2.webp' %}, {% static './images/certificate/2@2x.webp' %} 1.5x" width="340" height="422" loading="lazy"><img class="minimized" src="{% static './images/certificate/2.png' %}" srcset="{% static './images/certificate/2@2x.png' %} 1.5x" width="340" height="422" loading="lazy" alt="">
                  </picture>
                </div>
              </div>
              <div class="certificates__bg1"></div>
              <div class="certificates__bg2"></div>
              <div class="certificates__bg3"></div>
            </div>
          </section>


{% endblock %}

markup/src/pug/sections/page-title/why.pug
section.page-title 
    .container 
        .page-title__description 
            h2.heading Nima uchun neo cosmo?
            p Mahsulotlarimiz ko'zni parvarish qiladigan bemorlarga ko'proq qulaylik va yaxshi ko'rish qobiliyati bilan zamonaviy turmush tarzini olib borishga yordam berish uchun mo'ljallangan. neo cosmo da biz bemorlar va amaliyotchilar uchun innovatsiyalarning yetakchisi bo'lish uchun tibbiy merosimiz va ko'zni parvarish qilish bo'yicha tajribamizdan foydalanishda davom etamiz.
            h2.heading Biz kimmiz?
            p Bausch + Lomb 1853 yilda Nyu-Yorkning Rochester shahrida kichik optik do'kon sifatida tashkil etilgan bo'lib, u dunyoning 100 dan ortiq mamlakatlarida 10 000 dan ortiq xodimlariga ega yirik sog'liqni saqlash kompaniyasiga aylandi. 
            p Bausch + Lomb 1853 yilda Nyu-Yorkning Rochester shahrida kichik optik do'kon sifatida tashkil etilgan bo'lib, u dunyoning 100 dan ortiq mamlakatlarida 10 000 dan ortiq xodimlariga ega yirik sog'liqni saqlash kompaniyasiga aylandi.
        .page-title__bg1
        .page-title__bg2
        .page-title__bg3
